# Lab SQL 9

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import getpass
password = getpass.getpass()

········

In [99]:
connection_string = 'mysql+pymysql://David Chrobak:' + password + '@localhost/bank'
engine = create_engine(connection_string)
data = pd.read_sql_query('select * from sakial.rental', engine)
data.head()

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'sakial'")
[SQL: select * from sakial.rental]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [100]:
connection_string = 'mysql+pymysql://David Chrobak:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
data = pd.read_sql_query('SELECT * FROM sakila.rental', engine)
data.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [101]:
data_may = pd.read_sql_query('select * from rentals_may', engine)
data_june = pd.read_sql_query('select * from rentals_june', engine)

In [102]:
data_may.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [106]:
query = '''select
	count(*) as count_august, customer_id
from 
	rentals_july
group by 
	customer_id
order by 
	customer_id;'''
rentals_july = pd.read_sql_query('select * from rentals_july', engine)

In [ ]:
query = '''select
	count(*) as count_august, customer_id
from 
	rentals_july
group by 
	customer_id
order by 
	customer_id;'''
rentals_july = pd.read_sql_query('select * from rentals_july', engine)